# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows
# https://ci.appveyor.com/project/fabianp/lightning-bpc6r
environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script interpreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\build_tools\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.8"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.8"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python37"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "64"



install:
  # Miniconda is pre-installed in the worker build
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python -m pip install -U pip"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "pip --version"

  - "%CMD_IN_ENV% pip install --timeout=60 numpy scipy cython pytest scikit-learn wheel six joblib"
  - "%CMD_IN_ENV% python setup.py bdist_wheel bdist_wininst"

  - ps: "ls dist"
  # Install the generated wheel package to test it
  - "pip install --pre --no-index --find-links dist/ sklearn-contrib-lightning"

# Not a .NET project, we build scikit-learn in the install step instead
build: false

test_script:
  - "python -m pytest -v --pyargs lightning"

artifacts:
  # Archive the generated wheel package in the ci.appveyor.com build report.
  - path: dist\*
